//// @access public
//// @author David Gonzalez

//Tamaño y borde de las row
.row {
  @include flex_mixin;
}

/// Mapa tamaño de pantalla
/// @group diseño
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px
);

/// Generar columnas responsivas
/// @group diseño
@for $i from 1 through $num_elementos {
  .row > .col-#{$i} {
    flex: 0 0 #{anchura_col($i)}+ "%";
    max-width: #{anchura_col($i)}+ "%";
  }
}

/// Bucle para generar las clases de las columnas responsivas
/// @group diseño
@each $l, $m in $breakpoints {
  @media (min-width: #{$m}) {
    @for $i from 1 through $num_elementos {
      .row > .col-#{$l+"-"+$i} {
        flex: 0 0 #{anchura_col($i)}+ "%";
        max-width: #{anchura_col($i)}+ "%";
      }
    }
  }
}


/// Estilos para la clase row
/// @group diseño
.row > * {
  @include padding(1rem);
}


/// Estilos para la clase container
/// @group diseño
.container {
  @include centrado();
  @include anchura-maxima($anchura-maxima-contenedor);
}
