//// @access public
//// @author David Gonzalez

/// Estilos generales para formularios
/// @group formularios
form {
    @include anchura($anchura-formularios);
    @include cambiar_color($color-texto-formularios);
    @include padding(1);
}


/// Estilos para los diferentes tipos de campo del formulario
/// @group formularios
input, select,  textarea, button {
    @include display(block);
    @include anchura($anchura-formularios);
    margin-bottom: 1rem;
    @include color-fondo($fondo-formularios);
}


/// Estilos para las etiquetas
/// @group formularios
label {
    @include texto(1.2);
    @include display(block);
}


/// Estilos para el fieldset
/// @group formularios
fieldset {
    @include fieldset(0,0);
}


/// Mapa con los nombres y el color asociado
/// @group formularios
$btn-colors: (
  "error": $color-error,
  "warning": $color-warning,
  "accepted": $color-accepted,
  "normal": $color-normal
);

/// Botón general
/// @group formularios
.btn {
  @include display(inline-block);
  @include centrado;
  @include text-decoration(none);
  @include border-radius($border-radius-formularios);
  @include padding(0.5);

  &:hover {
    box-shadow: $border-radius-formularios/2 $border-radius-formularios/2 $color-shadow !important;    
  }

  &:active {    
    @include cambiar_color($boton-formulario-activo);
    
  }

  &:visited {
    @include cambiar_color($boton-formulario-visitado);
  }
}

/// Para dar color
/// @group formularios
@each $k, $v in $btn-colors {
  .btn-#{$k} {
    @include color-fondo($v);
    @include cambiar_color($color-texto-botones);
    @include grosor-letra(bolder);;
  }
}
