//// @access public
//// @author David Gonzalez

/// Definimos los estilos generales para las tablas
/// @group tablas
table {
    @include anchura(100);
    @include padding(1);
    border-collapse: collapse;
    @include display(block);
    overflow-x: auto;
}

/// Estilos para los títulos de las tablas
/// @group tablas
thead {
    tr {
        @include color-fondo($fondo-cabecera-tabla);
        @include cambiar_color($color-cabecera-tabla);
        @include texto(1.5);
    }
}

/// Estilos para las tablas
/// @group tablas
tbody {
    tr {
        border-bottom: 2px dotted $color-borde-tabla;
    }

    tr:nth-child(even) {
        @include color-fondo($fondo-filas-pares-tabla);
    }

    tr:nth-child(odd) {
        @include color-fondo($fondo-filas-impares-tabla);
    }

    tr:hover {
        @include color-fondo($fondo-hover-tabla);
        @include duracion(1);
        @include escalar(1.25);
    }

    td {
        @include padding(0.5);
        @include texto($tamano-texto-tablas);
    }
}
